<h1>New Share Links</h1>
<%= form_for @share_link do |f| %>
  <div>
  <%= f.label :original_url, "Original Url" %><br />
  <%= f.url_field :original_url %>
  </div>

  <div>
  <%= f.label :shorten_url, "Shorten Url" %><br />
  <%= f.text_field :shorten_url %>
  </div>

  <div>
  <%= f.submit "Shorten" %>
  </div>
<% end  %>
